<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Error</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html,
        body {
          height: 100%;
        }

        body {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
          align-items: center;
          padding-top: 40px;
          padding-bottom: 40px;
          background-color: #f5f5f5;
        }
    </style>
</head>

<body class="text-center">
    <div class="container">
        <div class="row">
            <h1>Oops! Sorry :(</h1>
        </div>
        <div class="row">
            <p>Reason: {{status}} {{error}}</p>
        </div>
    </div>
</body>
</html>
